{{ define "main" }}
<div class="courses-section">
  <h2 class="section-title">🎓 CS books and courses I,ve learned since 2016.</h2>

  <!-- Month Card 1 -->
  <div class="month-card">
    <h3 class="month-title">May 2024</h3>
    <ul class="course-list">
      <li>
        <strong>Full Stack Open      University of Helsinki</strong>  
      </li>
      <li>
        <strong>The Missing Semester of Your CS Education</strong>  
      </li>
    </ul>
  </div>

  <!-- Month Card 2 -->
  <div class="month-card">
    <h3 class="month-title">March 2024</h3>
    <ul class="course-list">
      <li>
        <strong>System Design Primer</strong>  
      </li>
      <li>
        <strong>Clean Code</strong>  
      </li>
    </ul>
  </div>

  <!-- Month Card 3 -->
  <div class="month-card">
    <h3 class="month-title">January 2024</h3>
    <ul class="course-list">
      <li>
        <strong>CS50 – Introduction to Computer Science</strong>  
      </li>
    </ul>
  </div>
  <!-- Month Card 3 -->
  <div class="month-card">
    <h3 class="month-title">January 2024</h3>
    <ul class="course-list">
      <li>
        <strong>CS50 – Introduction to Computer Science</strong>  
      </li>
    </ul>
  </div><!-- Month Card 3 -->
  <div class="month-card">
    <h3 class="month-title">January 2024</h3>
    <ul class="course-list">
      <li>
        <strong>CS50 – Introduction to Computer Science</strong>  
      </li>
    </ul>
  </div>
</div>
{{ end }}